{% extends 'base.html.twig' %}

{% block title %}Mes compétences{% endblock %}

{% block body %}
<h1>Mes compétences</h1>

<div class="projects-container">
    <div class="competence-row reverse">
        <div class="box photo-box">
            <img src="{{ asset('images/photo1.jpg') }}" alt="Work In Progress">
        </div>
        <div class="box text-box">
            <h2> Administrer les protections contre les logiciels malveillants</h2>
            <p>Work In Progress</p>
        </div>
    </div>
    <div class="competence-row">
        <div class="box photo-box">
            <img src="{{ asset('images/proteger2.png') }}" alt="Photo 2">
        </div>
        <div class="box text-box">
            <h2>Prendre en main des outils de test de pénétration réseau/système</h2>
            <p>
                Au cours de ma formation, j’ai participé à plusieurs activités de pentesting, notamment des CTF comme Marsh@ck et CSAW, ainsi que des tests sur des plateformes comme Vulnhub et TryHackMe. J’ai utilisé des outils comme Nmap, Metasploit et Parrot OS pour réaliser des attaques telles que du bruteforce, des injections de code et des attaques sur Active Directory.
                
                Pour améliorer mes compétences, je souhaite explorer de nouveaux outils comme Burp Suite, renforcer mes compétences en scripting (Python, Bash) et participer à des CTF physiques pour développer mes capacités collaboratives. Je vais aussi continuer à pratiquer régulièrement sur des plateformes comme HackTheBox et organiser des sessions d’entraînement en association.</p>
        </div>
    </div>
</div>

{% endblock %}