<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="">Accueil</a>
        <a href="">À propos de moi</a>
        <a href="">Mes Projets</a>
        <a href="">Expérience professionnelle</a>
        <a href="">Mes engagements</a>
        <a href="{{ path('contact') }}">Contact</a> <!-- Lien vers la page de contact -->
    </div>

    {% block body %}{% endblock %}

    <div class="contact-bar">
        <p>Contactez-moi via les réseaux sociaux ou par email.</p>
    </div>
</body>
</html>